@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
  .grid-settings {
    grid-template-areas:
      "a a"
      "b c";
    grid-template-columns: 50% 1fr;
  }

  .grid-a {
    grid-area: a;
  }

  .grid-b {
    grid-area: b;
  }

  .grid-c {
    grid-area: c;
  }
}

@media (min-width: 1024px) {
  .grid-settings {
    grid-template-areas:
      "a c"
      "b .";
  }
}

@media (min-width: 1024px) {
  .product:nth-of-type(even) > div:nth-of-type(1) {
    margin-left: 4rem;
  }

  .product:nth-of-type(odd) > div:nth-of-type(2) {
    margin-left: 4rem;
  }
}
