@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
  .grid-settings {
    grid-template-areas:
      "a a"
      "b c";
    grid-template-columns: 50% 1fr;
  }

  .grid-a {
    grid-area: a;
  }

  .grid-b {
    grid-area: b;
  }

  .grid-c {
    grid-area: c;
  }
}

@media (min-width: 1024px) {
  .grid-settings {
    grid-template-areas:
      "a c"
      "b .";
  }
}

.decoration-line {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 5px;
  width: 6rem;
  background-color: #fbaf85;
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 24px;
  height: 3px;
  background-color: white;
  top: 0;
  left: 0;
  transform: rotate(0);
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(8px) translateX(8px);
  transition: 0.2s all;
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(8px) translateX(-8px);
  transition: 0.2s all;
}
